* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 85px;
  flex-shrink: 0;
  background: #FFF;
}

main {
  width: 100%;
  height: 3140px;
  flex-shrink: 0;
  background: #F7F6FF;
}

.header-nav__img {
  left: 103px;
  top: 8px;
  position: absolute;
}

.header-nav__a-1 {
  left: 566px;
  top: 30px;
  color: #333;
  position: absolute;
}

.header-nav__a-2 {
  left: 666px;
  top: 30px;
  color: #333;
  position: absolute;
}

.header-nav__a-3 {
  left: 766px;
  top: 30px;
  color: #333;
  position: absolute;
}

.header-nav__a-4 {
  left: 906px;
  top: 30px;
  color: #333;
  position: absolute;
}

.header-nav__button {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  left: 1150px;
  top: 15px;
  position: absolute;
  color: #FFF;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
}

.main-h1 {
  color: var(--unnamed, #333);
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  text-transform: uppercase;
  left: 113px;
  top: 193px;
  position: absolute;
}

.main-h2 {
  color: var(--unnamed, #333);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  left: 116px;
  top: 334px;
  position: absolute;
}

.main-button__1 {
  width: 241px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77B2D3;
  color: #FFF;
  left: 115px;
  top: 387px;
  position: absolute;
}

.main-button__2 {
  width: 114px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77B2D3;
  color: #FFF;
  left: 366px;
  top: 387px;
  position: absolute;
}

.main-button__3 {
  width: 141px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 250px;
  background: #77B2D3;
  color: #FFF;
  left: 489px;
  top: 387px;
  position: absolute;
}

.main-img__1 {
  left: 817px;
  top: 167px;
  position: absolute;
}

.main-div-2 {
  width: 1230px;
  height: 254px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 115px;
  top: 582px;
  position: absolute;
}

.div-2__h2 {
  color: var(--unnamed, #333);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  left: 85px;
  top: 40px;
  position: absolute;
}

.div-2__text {
  color: #F32C6D;
  left: 83px;
  top: 123px;
  position: absolute;
  font-size: 40px;
}

.div-2__text-1 {
  left: 85px;
  top: 174px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.div-2__hr-1 {
  width: 1px;
  height: 86px;
  background: #C7C7C7;
  left: 281px;
  top: 121px;
  position: absolute;
}

.div-2__text-2 {
  color: #F32C6D;
  left: 343px;
  top: 123px;
  position: absolute;
  font-size: 40px;
}

.div-2__text-3 {
  left: 345px;
  top: 174px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.div-2__hr-2 {
  width: 1px;
  height: 86px;
  background: #C7C7C7;
  left: 630px;
  top: 121px;
  position: absolute;
}

.div-2__text-4 {
  color: #F32C6D;
  left: 693px;
  top: 123px;
  position: absolute;
  font-size: 40px;
}

.div-2__text-5 {
  left: 695px;
  top: 174px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.div-2__hr-3 {
  width: 1px;
  height: 86px;
  background: #C7C7C7;
  left: 901px;
  top: 121px;
  position: absolute;
}

.div-2__text-6 {
  color: #F32C6D;
  left: 985px;
  top: 123px;
  position: absolute;
  font-size: 40px;
}

.div-2__text-7 {
  left: 987px;
  top: 174px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.main-div__text {
  left: 165px;
  top: 912px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 38px;
}

.main-div-3 {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 165px;
  top: 1001px;
  position: absolute;
}

.div-3-div {
  width: 220px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #77B2D3;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
}

.div-3__div-h2 {
  color: #FFF;
  left: 51px;
  top: 11px;
  position: absolute;
}

.div-3__img-1 {
  left: 16px;
  top: 95px;
  position: absolute;
}

.div-3__img-2 {
  left: 16px;
  top: 125px;
  position: absolute;
}

.div-3__img-3 {
  left: 16px;
  top: 154px;
  position: absolute;
}

.div-3__img-4 {
  left: 16px;
  top: 184px;
  position: absolute;
}

.div-3__img-5 {
  left: 16px;
  top: 213px;
  position: absolute;
}

.div-3__text-1 {
  left: 40px;
  top: 92px;
  position: absolute;
  color: var(--unnamed, #333);
}

.div-3__text-2 {
  left: 40px;
  top: 123px;
  position: absolute;
  color: var(--unnamed, #333);
}

.div-3__text-3 {
  left: 40px;
  top: 152px;
  position: absolute;
  color: var(--unnamed, #333);
}

.div-3__text-4 {
  left: 40px;
  top: 183px;
  position: absolute;
  color: var(--unnamed, #333);
}

.div-3__text-5 {
  left: 40px;
  top: 210px;
  position: absolute;
  color: var(--unnamed, #333);
}

.div-3__hr {
  width: 210px;
  height: 1px;
  background: #E2E2E2;
  left: 6px;
  top: 328px;
  position: absolute;
}

.div-3__h1 {
  color: #F32C6D;
  left: 40px;
  top: 337px;
  position: absolute;
}

.main-div-4 {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 403px;
  top: 1001px;
  position: absolute;
}

.main-div-5 {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 641px;
  top: 1001px;
  position: absolute;
}

.main-div-6 {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 879px;
  top: 1001px;
  position: absolute;
}

.main-div-7 {
  width: 220px;
  height: 378px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 1125px;
  top: 1001px;
  position: absolute;
}

.main-button-4 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 175px;
  top: 1400px;
  position: absolute;
  color: #FFF;
}

.main-button-5 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 413px;
  top: 1400px;
  position: absolute;
  color: #FFF;
}

.main-button-6 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 651px;
  top: 1400px;
  position: absolute;
  color: #FFF;
}

.main-button-7 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 889px;
  top: 1400px;
  position: absolute;
  color: #FFF;
}

.main-button-8 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 1138px;
  top: 1400px;
  position: absolute;
  color: #FFF;
}

.main-div__text-2 {
  left: 165px;
  top: 1544px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 40px;
}

.main-div__text-3 {
  left: 165px;
  top: 1662px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.main-div-8 {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 165px;
  top: 1710px;
  position: absolute;
}

.div-8__text {
  left: 19px;
  top: 20px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.main-div-9 {
  width: 270px;
  height: 59px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 465px;
  top: 1710px;
  position: absolute;
}

.main-div-10 {
  width: 570px;
  height: 141px;
  flex-shrink: 0;
  border-radius: 7px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 165px;
  top: 1789px;
  position: absolute;
}

.main-div-11 {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 165px;
  top: 1950px;
  position: absolute;
}

.main-div__text-4 {
  left: 209px;
  top: 1958px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
}

.main-button-9 {
  width: 195px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 165px;
  top: 2003px;
  position: absolute;
  color: #FFF;
}

.main-img-2 {
  left: 765px;
  top: 1546px;
  position: absolute;
}

.main-div__text-5 {
  left: 165px;
  top: 2169px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 38px;
}

.main-div__text-6 {
  left: 893px;
  top: 2143px;
  position: absolute;
  color: #000;
  font-size: 16px;
}

.main-div-12 {
  width: 570px;
  height: 518px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  left: 165px;
  top: 2258px;
  position: absolute;
}

.div-12-img {
  left: 23px;
  top: 9px;
  position: absolute;
}

.div-12__text-1 {
  left: 28px;
  top: 125px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
  line-height: 26px;
}

.div-12-div {
  width: 570px;
  height: 161px;
  flex-shrink: 0;
  background: #F3F1FE;
  top: 227px;
  position: absolute;
}

.div-12-div__text {
  left: 28px;
  top: 21px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 18px;
}

.div-12-div__text-1 {
  left: 28px;
  top: 57px;
  position: absolute;
  line-height: 26px;
}

.div-12-div__text-2 {
  left: 247px;
  top: 57px;
  position: absolute;
  line-height: 26px;
}

.div-12-div__text-3 {
  left: 375px;
  top: 57px;
  position: absolute;
  line-height: 26px;
}

.div-12__text-2 {
  left: 28px;
  top: 412px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 18px;
}

.div-12__img-2 {
  left: 26px;
  top: 451px;
  position: absolute;
}

.div-12__img-3 {
  left: 143px;
  top: 455px;
  position: absolute;
}

.main-div-13 {
  left: 765px;
  width: 570px;
  height: 518px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  top: 2258px;
  position: absolute;
}

.div-12-img-4 {
  left: 25px;
  top: 41px;
  position: absolute;
}

.main-div-14 {
  width: 100%;
  height: 321px;
  flex-shrink: 0;
  background: #FFF;
  top: 2866px;
  position: absolute;
}

footer {
  width: 100%;
  height: 41px;
  flex-shrink: 0;
  background: #2D2D2D;
  top: 3190px;
  position: absolute;
}

.div-14__img {
  left: 153px;
  top: 52px;
  position: absolute;
}

.div-14__text {
  left: 165px;
  top: 127px;
  position: absolute;
  color: var(--unnamed, #333);
  font-size: 16px;
  line-height: 24px;
}

.div-14__button {
  width: 205px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 9px;
  background: var(--3, linear-gradient(122deg, #F32C6D 29.57%, #CB1D95 85.47%));
  left: 165px;
  top: 197px;
  color: #FFF;
  position: absolute;
}

.div-14__text-2 {
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  left: 679px;
  top: 68px;
  position: absolute;
}

.div-14__text-3 {
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  left: 679px;
  top: 117px;
  position: absolute;
}

.div-14__text-4 {
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  text-transform: uppercase;
  left: 957px;
  top: 68px;
  position: absolute;
}

.div-14__text-5 {
  color: var(--unnamed, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  left: 957px;
  top: 117px;
  position: absolute;
}

.footer-div__text {
  left: 692px;
  top: 6px;
  position: absolute;
  color: var(--unnamed, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}